<p>Here are the places you want to visit</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.location() %></li>
  <% end %>
</ul>

<p>Add a location: </p>
<form action="/results" method="post">
  <label for="location">Location</label>
  <input type="text" id="location" name="location">

  <button class="btn-success">Click me!</button>
</form>

<form action="/clear" method="post">
  <button class="btn-danger">Delete List! D:</button>
</form>
