<!DOCTYPE html>
<html>
  <head>
    <title>Places to Visit</title>
    <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>Places to Visit</h1>
      <%= yield %>
    </div>
  </body>
</html>
